body {
    background-color:black;
    font-family:arial;
    color:white
}
h1{
    color:grey;
    font-family:verdana
}
.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 25px;
    border-radius: 25px;        
}
table {
    padding: 25px;
}
td {
    padding: 5px;
}
footer p {
    padding: 0;
    margin: 0;
}



